.messageBox {
  // width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  margin: 0;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px;
}

.form {
  display: flex;
}
.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

.input {
  background-color: #2d2d2d;
  color: white;

  &:focus {
    outline: 1px;
    border-color: rgb(95, 83, 83);
    box-shadow: 0 0 3px rgba(63, 63, 63, 0.5);
  }
}

#messageInput {
  width: 100px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: transparent;
  border: none;
  padding-left: 10px;
  color: white;
}

#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

svg {
  height: 24px;
  fill: #3c3c3c;
  stroke: white;
  transition: all 0.3s;
}

#sendButton svg path {
  transition: all 0.3s;
}

svg:hover {
  fill: #584141;
  stroke: white;
}
