.formContainer {
  width: 290px;
  // margin: 5px;
  background-color: #3f3f45;
  padding: 18px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow:
    0px 0px 3px rgba(0, 0, 0, 0.084),
    0px 2px 3px rgba(0, 0, 0, 0.168);
}

.formContainer button:active {
  scale: 0.95;
}

.formContainer .logo-container {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer .formGroup {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.formContainer .formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formContainer .formGroup input {
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.formContainer .formGroup input::placeholder {
  opacity: 0.5;
}

.formContainer .formGroup input:focus {
  outline: none;
  border-color: #1778f2;
}

.formContainer .formSubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow:
    0px 0px 3px rgba(0, 0, 0, 0.084),
    0px 2px 3px rgba(0, 0, 0, 0.168);
}

.formContainer .formSubmitBtn:hover {
  background-color: #313131;
}

.formInput {
  margin-bottom: 5px;
  background-color: #27272a;
  color: #fff;
}

.logoContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
}

.successMessage {
  background-color: #3f3f44;
  color: #fff;
}

.formAll {
  gap: 2;
}
